$font-size-base: .75rem;
$nav-pills-link-active-bg: #adb5bd;

@import '/node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  background-color: #393F49;
}

.task-list {
  margin-bottom: 2rem;

  div {
    .task-item {
      border-radius: 0;
      border-right: 0;
      border-left: 0;

      .delete-button:hover {
        cursor: pointer;
      }
    }

    &:not(:first-of-type) {
      .task-item {
        border-top: 0;
      }
    }
  }
}

.task-item-transition-enter {
  opacity: 0;
}

.task-item-transition-enter-active {
  opacity: 1;
  transition: all 800ms ease-in;
}

.task-item-transition-exit {
  opacity: 1;
}

.task-item-transition-exit-active {
  opacity: 0;
  transition: all 800ms ease-in;
}

.divider {
  color: #adb5bd;
}